* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: rgb(0 4 15);
}

.sec-heading {
  text-align: center;
}

.sec-heading .heading1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-heading hr {
  background-color: #fff;
  height: 4px;
  width: 50px;
  /* transform: rotate(90deg); */
}

.sec-heading h2 {
  padding: 10px;
  font-size: 48px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

header {
  /* background-color: rgb(0, 4, 15); */
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(12px);
}

nav {
  padding: 0 100px;
}

.nav-logo {
  width: 150px;
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 100%;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  padding: 30px 30px;
  font-size: 18px;
}

/* .nav-items li a{
    transition: all 400ms;
} */

.nav-items li a:hover {
  border-bottom: 2px solid white;
}

#hero-section {
  margin: 120px;
  background-color: rgb(0 4 15);
}

.hero-main {
  position: relative;
  display: flex;
  gap: 20%;
  align-items: center;
}

.hero-left h1 {
  font-size: 51px;
  margin-bottom: 10px;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-btn {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50%;
  top: 0%;
  border-radius: 50%;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.start-btn a {
  height: 126px;
  width: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(0 4 15);
}

.start-btn p {
  font-size: 18px;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-btn p ion-icon {
  font-size: 24px;
  transform: rotate(-45deg);
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  margin: 120px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right h2 {
  margin-bottom: 10px;
  font-size: 32px;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#service {
  margin: 120px;
}

.service-content {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.service-card {
  box-shadow: 5px 5px 20px #000;
  border-radius: 3px;
  overflow: hidden;
  height: 300px;
  cursor: pointer;
  position: relative;
}

.service-card img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  transition: all 500ms;
}

.service-card-content {
  height: 80px;
  width: 300px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: rgba(27, 27, 27, 0.5);
  transition: all 500ms;
}

.service-card-content h3 {
  margin: 10px;
  font-size: 24px;
}

.service-card-content p {
  margin: 20px;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}

.service-card:hover .service-card-content {
  height: 200px;
}

.service-card:hover .ser-dis {
  opacity: 1;
  visibility: visible;
}

.service-card:hover .ser-img {
  transform: scale(1.1) rotate(-3deg);
}

#call-to-action {
  margin: 120px;
  padding: 3rem 4rem;
  display: flex;
  gap: 20%;
  align-items: center;
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  box-shadow: 0 20px 100px -10px #42475b1a;
  border-radius: 20px;
}

.cta-left h4 {
  font-size: 48px;
  margin-bottom: 20px;
}

.cta-left p {
  font-size: 18px;
  color: #ffffffb3;
}

.cta-right a {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: rgb(0 4 15);
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

#team {
  margin: 120px;
}

.team-content {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.team-card {
  width: 250px;

  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.team-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.team-img img {
  width: 100%;
}

.team-socials {
  position: absolute;
  bottom: 15%;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms;
}

.team-card:hover .team-socials {
  visibility: visible;
  opacity: 1;
  bottom: 5%;
}

.team-socials a {
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: inline-flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  color: #484848;
  transition: all 500ms;
}

.team-socials a:hover {
  background-color: #9dedf0;
}

.team-info {
  padding: 20px;
  background-color: rgba(27, 27, 27, 0.5);
}

.team-info h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.team-info p {
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team-socials a ion-icon {
  font-size: 18px;
}

#testimonials {
  /* margin: 120px; */
  background-image: url("image/t2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.testimonial-main {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.testimonial-card {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-card img {
  height: 130px;
  width: 130px;
  border: 6px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.testimonial-card h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.testimonial-card h4 {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 15px;
}

.testimonial-card p {
  margin-bottom: 15px;
  font-style: italic;
  color: #eee;
  text-align: center;
}

.testimonial-card p i {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}

footer {
  margin: 120px 120px 60px 120px;
}

.footer-top {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer-top-right {
  display: flex;
  flex: 1.5;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top-right h4 {
  font-size: 18px;
  font-weight: 500;
}

.footer-top-right ul {
  margin-top: 1rem;
}

.footer-top-right li {
  margin-bottom: 1rem;
}

.footer-top-right li a {
  font-size: 16px;
  color: #ffffffb3;
  transition: all 400ms;
}

.footer-top-right li a:hover {
  color: rgb(0 246 255);
}

.footer-company-intro {
  margin-right: 2.5rem;
  flex: 1 1 0%;
  font-size: 16px;
  color: #ffffffb3;
  line-height: 30.8px;
}

.footer-company-intro img {
  width: 65%;
}

.footer-buttom {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(63 62 69);
}

.footer-icon {
  display: flex;
  gap: 20px;
}

.footer-icon a {
  font-size: 24px;
}

.go-to-top {
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.go-to-top a {
  padding: 10px;
  color: #000;
  height: auto;
  display: flex;
  align-items: center;
}

.nav-mbl{
  position: sticky;
  bottom: 0;
}


.nav-mbl-main {
  justify-content: space-around;
  padding: 10px;
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  font-size: 10px;
  display: none;
}

.nav-mbl-main ion-icon{
  font-size: 15px;
}

.nav-mbl-main a{
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .start-btn {
    right: 0;
  }

  #hero-section,
  #about,
  #service,
  #team,
  #testimonial,
  #call-to-action,
  footer {
    margin: 60px;
  }

  .about-content {
    flex-direction: column;
  }

  .footer-top {
    flex-direction: row;
  }

  header {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #hero-section,
  #about,
  #service,
  #team,
  #testimonial,
  #call-to-action,
  footer {
    margin: 30px;
  }
  .hero-main {
    flex-direction: column-reverse;
  }

  .start-btn {
    display: none;
  }

  .about-content {
    flex-direction: column;
  }

  #call-to-action {
    flex-direction: column;
    gap: 30px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-buttom {
    flex-direction: column;
    gap: 20px;
  }



  .nav-mbl-main{
    display: flex;
  }
}
